.App {
  min-width: 300px;
  padding: 5px;
}
body {
  background: linear-gradient(45deg, #173522, #061500);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  transition: 0.5s all;
}
